<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InterfaceTrafficWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InterfaceTrafficWatch.Properties.Settings>
            <setting name="Ссылка" serializeAs="String">
                <value>http://google.com</value>
            </setting>
            <setting name="Индекс" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Выключить" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Выполнить" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Минуты" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Лимит" serializeAs="String">
                <value>40</value>
            </setting>
        </InterfaceTrafficWatch.Properties.Settings>
    </userSettings>
</configuration>